#sofía {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Backyardigans {
  display: block;
  margin-left: 0px;
  margin-right: auto;
}

#Manny {
  display: block;
  margin-left: auto;
  margin-right: 0px;
}
